<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tritechteal.sport_hub">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".DisplayTeam"
            android:label="Team"/>

        <activity android:name=".TeamDisplay"
            android:label="Team"/>
        <activity android:name=".Schedule"
            android:label="Match Schedule"/>
        <activity android:name=".NeededPlayer"
            android:label="Player You Need"/>

        <provider
            android:name=".provider.PlaceContentProvider"
            android:authorities="com.tritechteal.sport_hub"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD92SL8IpnDSjyzMA9Aw9KWiVeiN7Z9IqA" />
        <activity android:name=".SplashActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:label="Login"/>

        <activity android:name=".Dashboard"
            android:label="Dashboard"/>
        <activity android:name=".UploadPhoto"
            android:label="Upload Photo"/>
        <activity android:name=".SelectLogin"
            android:label="Select Login"/>
        <activity android:name=".PlacePickerr"
            android:label="Select Palce"/>
        <activity android:name=".CurrentPreviousTournament" />
        <activity android:name=".TeamPlayers"
            android:label="Team Palyers"/>
        <activity android:name=".CapitanSignup"
            android:label="Capitan Signup"/>
        <activity
            android:name=".MainHome.NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterTeam"
            android:label="Team Details">
        </activity>
        <activity android:name=".PlayerSignUp"
            android:label="Player SignUp"/>
        <activity android:name=".RegisterPlayer"
            android:label="Register Player"/>
        <activity android:name=".Staistics"
            android:label="Statistics"/>
        <activity android:name=".TeamRequest"
            android:label="Team Requests"/>
        <activity android:name=".Tournament"
            android:label="Add Tournament"/>
        <activity android:name=".OrganizeTournament"
            />
        <activity android:name=".Signup"
            android:label="Sign Up"/>
        <activity android:name=".ForgetPassword"
            android:label="Forget Password"/>
    </application>

</manifest>