<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tritechteal.sport_hub">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainHome.SelectLogin"></activity>
        <activity
            android:name=".MainHome.NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".OraganizeTournament.RegisterTeam" />

        <activity android:name=".PlayerSignUp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".OraganizeTournament.RegisterPlayer" />
        <activity android:name=".OraganizeTournament.Staistics" />
        <activity android:name=".OraganizeTournament.TeamRequest" />
        <activity android:name=".OraganizeTournament.Tournament" >

        </activity>
        <activity android:name=".OraganizeTournament.OrganizeTournament" />
        <activity android:name=".MainHome.Dashboard" />
        <activity android:name=".SplashActivity"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".Signup" />
        <activity android:name=".ForgetPassword" />
    </application>

</manifest>